<template>
    <section class="section grid__container">
        <h2 class="section__header" v-text="heading"></h2>
        <form_component></form_component>
        <weather_component></weather_component>

    </section>
</template>

<script>

    import Vue from 'vue';
    import axios from 'axios';
    import form_component from '../../components/form_component/form_component.vue';
    import weather_component from '../../components/weather_component/weather_component.vue';

    export default({
        data()
        {
            return {
                name: 'today',
                heading: 'Weather today',
            }
        }
        ,
        created: function () {

        },
        mounted(){

        },
        watch: {
            '$route'(to, from){

            },
        },
        methods: {}
        ,
        computed: {}
        ,
        components: {
            form_component,
            weather_component
        },

    });


</script>