<template>
    <section class="section">
        <h2 class="section__header" v-text="heading"></h2>
        <form_component></form_component>
        <chart></chart>

    </section>
</template>

<script>

    import Vue from 'vue';
    import axios from 'axios';
    import form_component from '../../components/form_component/form_component.vue';
    import chart from '../../components/chart/chart.vue';

    export default({
        data()
        {
            return {
                name: 'weather_weekly',
                heading: 'Weekly weather',
            }
        }
        ,
        created: function () {

        },
        mounted(){

        }
        ,
        watch: {
            '$route'(to, from){

            },
        },
        methods: {}
        ,
        computed: {}
        ,
        components: {
            form_component,
            chart
        },

    });


</script>