<template>
    <div id="graphick" class="chart" v-if="weeklyWeather">
        <h3 class="weather__state-title" v-if="heading" v-text="heading"></h3>
        <figure class="chart__content">
            <svg class="chart_svg" xmlns="http://www.w3.org/2000/svg" viewBox="-20 -25 440 220">

                <path class="chart__path" :d="`M${path}`"
                      fill="none" stroke="rgba(25, 25, 25, 0.3)"
                      stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/>

                <text v-for="([ x, y ]) in path" :x="x - 10" :y="y - 7.5" font-size="11" font-weight="200"
                      fill="currentColor" v-text="100 - (y | 0) + '°C' ">
                </text>
                <text v-for="([ x, y ],key) in path" v-if="date_and_temp[key]" :x="x - 10" :y="y + 10.5" font-size="8"
                      font-weight="200"
                      fill="currentColor" v-text="date_and_temp[key].day">
                </text>
            </svg>

        </figure>

    </div>
</template>

<script>
    import Vue from 'vue';
    import TweenLite from '../../../assets/js/libs/TweenMax/TweenMax.min';

    export default {
        // this is the data-set that will be animated
        data() {
            return {
                points: {a: 1, b: 1, c: 1, d: 1, e: 1},
                date_and_temp: [],
                heading: undefined,
            }
        },

        computed: {
            path() {
//                delete this.points._gsTweenID;
//                return Object.keys(this.points).map((key, i) => [i * 100, 100 - this.points[key]]);
                return Object.keys(this.points).filter(key => ~'abcde'.indexOf(key)).map((key, i) => [i * 100, 100 - this.points[key]])
            },
            weeklyWeather()
            {
                if (this.$store.getters.weekly_weather) {
                    let $keys = Object.keys(this.points);
                    let list = this.$store.getters.weekly_weather.list;
                    if (list) {
                        let pathArr = [];
                        for (let i = 0; i < list.length; i++) {
                            if (i % 8 == 0) {
                                let date = new Date(list[i].dt_txt);
                                let day = `${ date.getUTCMonth() + 1}.${ date.getUTCDate()}.${ date.getUTCFullYear()}`;
                                let temp = list[i].main.temp;
                                pathArr.push({day: day, temp: temp});
                                this.setPoint($keys[i / 8], temp);
                            }
                        }
                        this.date_and_temp = pathArr;

                        this.heading = `Weekly weather in ${this.$store.getters.weekly_weather.city.name}`;

                    }

                    return true;

                } else {

                    return false;
                }

            },
        },

        methods: {
            setPoint(key, destination){
                let duration = this.random(3, 5) / 4;
                this.animatePoint({key, duration, destination})
            },

            animatePoint({key, duration, destination}) {
                TweenLite.to(this.points, duration, {
                    [key]: destination,
                    ease: Sine.easeInOut,
                    onCompleteParams: [key]
                })
            },
            random(min, max) {
                return ((Math.random() * (max - min)) + min).toFixed(2)
            }
        },

        mounted() {
        }
    };

</script>