.form
{
  position: relative;
  
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  
  padding: $gw*3/2 $gw $gw*2;
  margin: 0 $gw $gw;
  
  border-radius: 4px;
  background-color: #fafafa;
  border: $border-gray;
  
}

.form__heading
{
  margin-bottom: $gw;
}

.form__select-list
{
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  
  width: 100%;
  max-height: 450px;
  
  padding: $gw/2 0;
  
  border: $border-gray;
  
  box-shadow: $box-shadow;
  background-color: $white;
  
  overflow-y: auto;
  
}

.form__select-li
{
  line-height: 1.3;
  padding: $gw/4 $gw;
  font-size: 12px;
  cursor: pointer;
  transform: color $transition-std, background-color $transition-std;
  
  &:hover
  {
    background-color: $blue;
    color: $white;
    
  }
  &.active
  {
    background-color: $gray-lightest;
    color: $white;
    
  }
  
}

fieldset
{
  border: none;
  outline: none;
}

//.form__input-wrap
.form__input-wrap
{
  position: relative;
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
  
  &.mod_error
  {
    //@extend %field-error;
  }
}

.form__input-spin
{
  position: absolute;
  top: 0;
  right: 0;
  width: $gw;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: opacity $transition-std, visibility $transition-std;
  
  &.loading
  {
    visibility: visible;
    opacity: 1;
  }
}

.form-cities
{
  position: absolute;
  width: 100%;
  max-width: 300px;
  top: 37px;
  right: $gw;
  border-radius: $br;
  border: 1px solid $gray-dark;
}

.form__fieldset
{
  
}

.form__label
{
  display: inline-flex;
  flex-direction: column;
  width: 20%;
  flex-basis: 100px;
  font-size: 12px;
  
}

//.form__inputs/
.form__inputs
{
  width: 100%;
}

//.form__input/
.form__input
{
  width: 100%;
  height: 40px;
  padding: $gw/2 $gw*3 $gw/2 $gw;
  
  border: $border-gray;
  border-radius: $br;
  
  //.form__input-response/
  &-response
  {
    position: absolute;
    left: 0;
    top: 110%;
    
  }
  
  //.form__input-btn
  &-btn
  {
    @extend %btn-base;
    background-color: $blue;
    color: $white;
    
    &:hover
    {
      background-color: $yellow;
    }
    
    //.form_input-btn .mod_search
    &.mod_search
    {
      margin-top: 0;
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      padding: 0 $gw*3/2 0 $gw;
      border-radius: 0 $br $br 0;
    }
    &.loading
    {
      background-color: $gray-dark;
    }
  }
}

//.preloader/
.preloader
{
  position: relative;
  
  &:before
  {
    content: '';
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    visibility: hidden;
    border-radius: 4px;
    opacity: 0;
    transition: visibility $transition-long, opacity $transition-long;
    
    background-color: rgba($gray, .80);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center center;
  }
  &.loading
  {
    
    &:before
    {
      visibility: visible;
      opacity: 1;
      
    }
  }
  
}


