<template>
    <div :class="{'loading' : loading }" class="form">
        <div class="form__heading">
            <h4 class="form__title" v-text="heading"></h4>
        </div>

        <div class="form__inputs" v-on:mouseover="showSelect(true)" v-on:mouseout="showSelect(false)">

            <fieldset class="form__input-wrap" :class="{ 'mod_error' : v_errors.has('city') }">

                <input v-validate="{ required : true }" v-model="current_city" type="text" name="city"
                       @change="getWeather"
                       id="city"
                       class="form__input">

                <ul v-show="myCities.length > 0 && show_select" class="form__select-list">
                    <li v-for="(city_name,key) in myCities" :key="key"
                        v-on:click="changeCity(city_name)"
                        v-text="city_name"
                        :class="{ 'active' : city_name == current_city }"
                        class="form__select-li"></li>
                </ul>

                <span v-show="v_errors.has('city')"
                      class="form__input-response"
                      v-text="v_errors.first('city')"></span>


                <button :class="{'loading' : loading }"
                        class="form__input-btn mod_search"
                        v-on:click="onSubmit()">Search
                    <svg :class="{'loading' : loading }" class="form__input-spin"><use xlink:href="#spin_svg"></use>
                    </svg>
                </button>
            </fieldset>


        </div>

    </div>
</template>

<script>
    import {Form} from '../../../assets/js/classes/form.js';
    import Vue from 'vue';
    import axios from 'axios';
    import  {config} from '../../../assets/js/classes/form.js';
    import en from '../../../assets/js/libs/vee-validate/locale/en';
    import VeeValidate, {Validator} from 'vee-validate';

    Validator.addLocale(en);
    Vue.use(VeeValidate, config);

    export default {
        components: {},
        props: [],
        data() {
            return {
                heading : 'Enter the city name',
                weather_search_by: 'name',
                loading: false,
                show_select: false,
                current_city: '',
                search_query: {
                    today: 'weather',
                    weekly: 'forecast',
                    daily: 'forecast/daily'
                },
            }
        },
        watch: {
            '$route'(to, from) {
            },
        },
        computed: {
            myCities(){
                return this.$store.state.weather.cities
            },

        },
        created() {
            this.current_city = this.$store.getters.current_city;
            if (this.current_city.length > 0) {
                this.onSubmit();
            }


        },
        mounted() {

        },
        methods: {
            showSelect($state){
                this.show_select = $state;

            },
            changeCity($city_name){
                this.current_city = $city_name;
                this.getWeather();
                this.show_select = false;

            },
            getWeather(){
                this.getWeatherBy();
            },
            get_weather_today(){
                let vm = this;
                this.loading = true;

                axios.post(`http://api.openweathermap.org/data/2.5/weather?q=${this.current_city}&units=metric&APPID=${this.$store.getters.weather_api_key}`).then(
                        function (response) {
                            vm.$store.dispatch('changeCurrentWeather', response.data);
                            vm.$store.dispatch('addCity', response.data.name);
                            vm.$store.dispatch('currentCity', vm.current_city);
                            vm.loading = false;
                        }
                ).catch(function (error) {
                            console.warn('error');
                            console.warn(error.message);
                            vm.loading = false;
                        }
                );

            },
            get_weather_weekly(){
                let vm = this;
                this.loading = true;
                axios.post(`http://api.openweathermap.org/data/2.5/forecast?q=${this.current_city}&units=metric&appid=${this.$store.getters.weather_api_key}`).then(
                        function (response) {

                            vm.$store.dispatch('changeWeeklyWeather', response.data);
                            vm.$store.dispatch('addCity', response.data.name);
                            vm.$store.dispatch('currentCity', vm.current_city);
                            vm.loading = false;

                        }
                ).catch(function (error) {
                            console.warn('error');
                            console.warn(error.message);

                            vm.loading = false;
                        }
                );
            },
            getWeatherBy(){
                this[`get_weather_${this.$route.name}`]();
            },
            onSubmit() {
                let vm = this;

                this.$validator.validateAll().then(()=> {

                    if (!vm.v_errors.any()) {
                        vm.getWeatherBy();
                    }

                }).catch(function (error) {
                    console.error(error);
                });

            },


        }

    }
</script>
