
%first_heading
{
  font-family: $font-base;
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: .014em;
  
  color: inherit;
  
  @include media($t)
  {
    font-size: 80px;
  }
}

%second_heading
{
  font-family: $font-base;
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  
  color: inherit;
  
  @include media($t)
  {
    font-size: 55px;
  }
}

%third_heading
{
  line-height: 1;
  font-size: 18px;
  
  @include media($t)
  {
    font-size: 40px;
  }
}

%fourth_heading
{
  line-height: 1;
  font-size: 16px;
  font-weight: 700;
  
  @include media($t)
  {
    font-size: 22px;
  }
  
  @include media($d)
  {
    font-size: 28px;
  }
}

%sub-heading
{
  line-height: 1.4;
  font-size: 14px;
  font-weight: 500;
  
  @include media($t)
  {
    font-size: 24px;
  }
}

%text_v-1
{
  
  font-size: 14px;
  line-height: 26px;
  
  @include media($t)
  {
    font-size: 16px;
    line-height: 26px;
  }
}

%text_v-2
{
  font-size: 12px;
  line-height: 18px;
  
  @include media($t)
  {
    font-size: 16px;
    line-height: 22px;
  }
  @include media($d)
  {
    font-size: 18px;
    line-height: 26px;
  }
}

%absolute
{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

%absolute-center
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

%full-height
{
  min-height: 100%;
}

%absolute-vertical-center
{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

%absolute-horizontal-center
{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

%fixed
{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  
}

%btn-reset-default
{
  background-color: transparent;
  -webkit-appearance: none;
  border: none;
  outline: none;
}

%bg-base
{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

%btn-base
{
  padding: $gw/2 $gw;
  
  border: 2px solid;
  border-color: transparent;
  border-radius: $br;
  
  font-size: 16px;
  
  transition: color $transition-std, background-color $transition-std, border $transition-std;
  
  &:not(.disabled)
  {
    cursor: pointer;
  }
  
  &.mod_wide
  {
    padding: 14px 33px;
  }
}

%btn
{
  @extend %btn-base;
  margin-top: 24px;
  background-color: $blue;
  
  font-weight: 600;
  
  color: $white;
  
  @include media($d)
  {
    font-weight: 700;
    font-size: 24px;
  }
  
  &:hover
  {
    background-color: $yellow;
  }
  
 
}

%btn-yellow
{
  @extend %btn;
  background-color: $yellow;
  &:hover
  {
    background-color: transparent;
    border-color: $yellow;
  }
  @include media($d)
  {
    font-weight: 700;
    font-size: 24px;
  }
  
}

%btn-link
{
  @extend %btn-base;
  
  &:hover
  {
    background-color: $blue;
    color: $white;
    
  }
  @include media($d)
  {
    font-weight: 700;
    font-size: 24px;
  }
  
}