//.header/
.header
{
  @extend %text_v-1;
  @extend %fixed;
  
  //@include selection ($torrent_secondary,$torrent_primary);
  z-index: 10;
  background-color: $white;
  color: inherit;
  box-shadow: $box-shadow;
  
  transform: translate3d(0, 0, 0) scale3d(1, 1, 1); //let all browsers know, that header is very important one
  
}

//.header_wrap/
.header__wrap
{
  @include container($grid-width, flex);
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  padding: $gw/2 $gw $gw/2;
  
}

//.header_item/
.header__item
{
  display: flex;
  flex-wrap: wrap;
  
  
  //.header__item.mod_left/
  &.mod_left
  {
    
  }
  //.header__item.mod_right/
  &.mod_right
  {
    
  }
}


//.header__item-wrap/
.header__item-wrap
{
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  
}

@import 'components_scss/header_menu',
'components_scss/header_logo',
'components_scss/header_links';