<template>
    <header class="header">
        <nav class="header__wrap">
            <div id="header__logo" class="header__logo header__item mod_left" v-text="heading"></div>
            <div id="header__menu" class="header__item mod_right header__menu">
                <router_links></router_links>
            </div>

        </nav>
    </header>
</template>

<script>
    import Vue from 'vue';
    import router_links from '../../components/router_links/router_links.vue';

    export default({
        components: {
            router_links
        },
        data(){
            return {
                name: 'v_header',
                heading: 'Weather',
            }
        },
        watch: {},
        methods: {
            setHeading($heading){
                this.heading = $heading;
            },
            onChangeLink(elem, $event = undefined, callbacks = undefined){
                if ($event) {
                    $event.preventDefault();
                }
            }

        },
        created () {

        },
        mounted(){

        },
        destroyed () {
        },

    });

</script>