// Black & White
$black: #000000;
$white: #fff;

// Gray

$yellow: #EBBC18;

$blue: #2770CA;

$gray-light: #B7B7B7;
$gray: #404040;
$gray-dark: #222222;

$gray-lightest: lighten($gray-light, 5);

// Orange

$red: #d32f2f;
$green: #388E3C;
$red_smoke: #e58383;

$orange: #f37036;
$orange-light: #f8f3f1;

$red_smoke-hover: $orange;

$white: white;

$box-shadow: 0 6px 6px 0 rgba(34, 34, 2, 0.05);

//work pictures
$m_pic_offset: $gw*3;
$t_pic_offset: 70px;
$d_pic_offset: 100px;