//--------------------------------------------------------------------------
// Colors
//--------------------------------------------------------------------------

//Grid
$gw: 20px;
$gutter-width: 20px;
$grid-width-base: 1220px;
$grid-width: $grid-width-base;
$click-area : 8px;
$grid-columns: 12;


//transitions
$transition-std: ease-out 0.3s;
$transition-long: ease-out 0.8s;
$transition: ease-out;



// Other
$br : 4px;

$gray: #e8e8e8;
$border-gray: 1px solid $gray;
