<template>
    <ul class="header__menu-wrap">
        <router-link tag="li" class="header__li header__menu-item" to="/">Today</router-link>
        <router-link tag="li" class="header__li header__menu-item" to="/weekly">Weekly</router-link>
    </ul>

</template>
<script>
    export default{
        props: [],
        data(){
            return {
            }
        },
        watch: {},
        created(){

        },
        methods: {

        },

        computed: {},
        components: {},


    }
</script>