body
{
  font-family: $font-base;
  overflow-x: hidden; //Обрезаем переполнение по x на body (по желанию)
  overflow-y: scroll; //Делаем чтобы скроллбар по y никогда не исчезал на body (по желанию)
  color: $gray-dark;
  padding-top: $gw *6;
}

body, html
{
  min-height: 100%; //Выставляем минимальную высоту html, body (обязательно)
  -webkit-overflow-scrolling: touch !important; //Запрещаем скроллинг под фиксированными элементами на IOS для html, body (обязательно)
}

html.no_scroll
{
  
  overflow: hidden;
  body
  {
    overflow: hidden;
  }
}

main
{
 

}

section
{
  
}

img
{
  display: block;
  max-width: 100%;
}

svg
{
  display: block;
}

use
{
  display: block;
}

iframe
{
  
}

video
{
  
}

a
{
  display: block;
  text-decoration: none;
  color: inherit;
}

button, input
{
  background-color: transparent;
  -webkit-appearance: none;
  border: none;
  outline: none;
  
  &:focus
  {
    outline: none;
  }
}

li
{
  list-style: none;
}

@import
'table',
'typography';
//
//html
//{
//  min-height: 100%;
//  @include media('t-ipad')
//  {
//    height: 100%;
//  }
//
//  @include media(">=2500px")
//  {
//    zoom: 1.5;
//  }
//
//  @include media(">=3200px")
//  {
//    zoom: 2;
//  }
//  overflow: hidden;
//}