
h1, h2, h3, h4, h5, h6
{
  color: $gray;
  letter-spacing: -0.015em;
}

h1
{
  @extend %first_heading;
}

h2
{
  @extend %second_heading;
}

h1
{
  
}

h2
{
  
}

h3
{
  @extend %third_heading;
  
}

h4
{
  font-size: 16px;
  
  @include media($t)
  {
    font-size: 22px;
  }
  @include media($d)
  {
    font-size: 28px;
  }
}

h5
{
  
}

h6
{
  
}

p
{
  word-wrap: break-word;
  
  a
  {
    display: inline;
    
  }
}

ul, ol
{
  
}

ul
{
  
}

ol
{
  
}

li
{
  list-style-type: none;
  word-wrap: break-word;
}

b
{
  
}

strong
{
  font-weight: 700;
}

i
{
  
}

em
{
  
}

mark
{
  
}

time
{
  
}

small
{
  
}

span
{
  display: inline-block;
  word-wrap: break-word;
}
