
@font-face {
  font-family: 'Raleway-Bold';
  src: url('Raleway-Bold.eot?#iefix') format('embedded-opentype'),  url('Raleway-Bold.woff') format('woff'), url('Raleway-Bold.ttf')  format('truetype'), url('Raleway-Bold.svg#Raleway-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Medium';
  src: url('Raleway-Medium.eot?#iefix') format('embedded-opentype'),  url('Raleway-Medium.woff') format('woff'), url('Raleway-Medium.ttf')  format('truetype'), url('Raleway-Medium.svg#Raleway-Medium') format('svg');
  font-weight: 500;
  font-style: normal;

}
