<template>
    <article class="weather__state" v-model="weatherState" v-if="weatherState">
        <header class="weather__state-header">
            <h3 class="weather__state-title" v-text="weatherStateTitle"></h3>
        </header>

        <div class="weather__state-state xs-12 t-4 text_v-1">
            <h4 class="weather__state-subtitle">Info</h4>
            <dl class="weather__state-dl" v-if="weatherState.sys">
                <dt class="weather__state-dt">Country</dt>
                <dd class="weather__state-dd" v-text="weatherState.sys.country"></dd>
            </dl>

        </div>

        <div class="weather__state-state xs-12 t-4 text_v-1">
            <h4 class="weather__state-subtitle">Temperature</h4>
            <p v-text="`${weather_state.main.temp} °C`"></p>
        </div>

        <div class="weather__state-state xs-12 t-4" v-if="weatherState.coord">
            <h4 class="weather__state-subtitle">Coordinates</h4>
            <dl class="weather__state-dl" v-if="weatherState.sys">
                <dt class="weather__state-dt">Lat</dt>
                <dd class="weather__state-dd" v-text="weatherState.coord.lat"></dd>
            </dl>
            <dl class="weather__state-dl" v-if="weatherState.sys">
                <dt class="weather__state-dt">Lon</dt>
                <dd class="weather__state-dd" v-text="weatherState.coord.lon"></dd>
            </dl>


        </div>
        <div class="weather__state-state xs-12 t-4">
            <h4 class="weather__state-subtitle">Wind</h4>
            <ul class="weather__state-list" v-if="weatherState.wind">
                <li class="weather__state-li" v-text="weatherState.wind.deg + ' deg'"></li>
                <li class="weather__state-li" v-text="weatherState.wind.speed + ' mps'"></li>
            </ul>

        </div>

        <div class="weather__state-state xs-12 t-4" v-if="weatherState.coord">
            <dl class="weather__state-dl" v-if="weatherState.weather.length"
                v-for="(weather,index,key) in weatherState.weather">
                <dt class="weather__state-dt" v-text="weather.description"></dt>
                <dd class="weather__state-dd"><img class="weather__state-img"
                                                   :src="'http://openweathermap.org/img/w/' + weather.icon +'.png'"
                                                   alt="weather.description"></dd>
            </dl>

        </div>

    </article>


</template>

<script>

    export default({
        props: {
            'weather_state': this.weather_state
        },
        data()
        {
            return {
                name: 'weather_state',
                heading: 'Weather state',
            }
        }
        ,
        created: function () {

        },
        mounted(){
        }
        ,
        watch: {
            '$route'(to, from){

            },
        },
        methods: {
            converceTemperature($fahrehnheit){
                return ( $fahrehnheit - 32) * .5556 / 10;
            }
        }
        ,
        computed: {
            tempC(){
                return this.converceTemperature(this.weather_state.main.temp);
            },
            weatherState(){
                return this.weather_state;
            },
            weatherStateTitle(){
                return `Weather in ${this.weatherState.name} today`
            },
        }
        ,
        components: {},

    });


</script>