//.weather__state/
.weather__state
{
  @include grid-padding();
  font-size: 0;
}

.weather__state-header
{
  
}

.weather__state-state
{
  @extend %text_v-1;
}

.weather__state-title
{
  margin-bottom: $gw;
}

.weather__state-subtitle
{
  margin-bottom: $gw/2;
}

.weather__state-img
{
  
}

.weather__state-dl
{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: $gw/2;
  font-size: 0;
}

.weather__state-dt
{
  @extend %text_v-1;
  display: inline-flex;
  flex-direction: column;
  margin-right: $gw/2;
  vertical-align: middle;
  
}

.weather__state-dd
{
  @extend %text_v-1;
  display: inline-flex;
  flex-direction: column;
  vertical-align: middle;
  
}