
.header__logo
{
  //@include bg-url('logo.png');
  //@include bg-base();
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  width: 270px;
  height: 58px;
  font-family: $font-heading-second;
  
  font-size: 24px;
  font-weight: normal;
  
}

.header__logo-svg
{
  
  width: 36px;
  height: 36px;
  margin-right: 10px;
  
  @include media($d)
  {
    width: 58px;
    height: 58px;
    margin-right: 16px;
  }
}

.header__logo-text
{
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
  color: $blue;
  
  @include media($d)
  {
    font-size: 42px;
  }
}