
.header__menu
{
  display: flex;
  flex-wrap: wrap;
  
  font-family: $font-base;
  font-weight: normal;
  
}

.header__menu-wrap
{
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
}

.header__menu-item
{
  flex: auto;
  
  padding: $gw/4 $gw;
  border-radius: $br;
  transition: color $transition-std;
  cursor: pointer;
  
  &.active, &.router-link-exact-active
  {
    background-color: $blue;
    color: $white;
    cursor: default;
  }
}