.header__menu-link, .header__menu-consult
{
  @extend %btn-link;
  
  padding: 14px 30px;
  
  transition: color $transition-std, background-color $transition-std, border $transition-std;
}

.header__menu-link
{
  text-transform: uppercase;
}

.header__menu-consult
{
  
}