<template>
    <section class="section">
        <weather_state v-bind:weather_state="currentWeather"></weather_state>
    </section>
</template>

<script>
    import weather_state from '../weather_component/components/weather_state.vue';

    export default({
        data()
        {
            return {
                name: 'weather_component',
                heading : ''
            }
        }
        ,
        created: function () {

        },
        mounted(){

        }
        ,
        watch: {
            '$route'(to, from){
            },
        },
        methods: {}
        ,
        computed: {
            currentWeather(){
                let cur_weather = this.$store.getters.current_weather;

                if (cur_weather && cur_weather.name) {
                    return this.$store.getters.current_weather;
                }

            }
        }
        ,
        components: {
            weather_state
        },

    });


</script>