.tal
{
  text-align: left;
}

.tac
{
  text-align: center;
}

.tar
{
  text-align: right;
}

.text_v-1
{
  @extend %text_v-1;
}

.text_v-2
{
  @extend %text_v-2;
}


.text_content
{
  h1, h2, h3, h4, h5, h6
  {
    margin-bottom: 28px;
    
  }
  p, ul, ol, dl
  {
    margin-top: 15px;
  }
}

 